html {

	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 12px 'Roboto', sans-serif;

	font-weight: 300;
	background: #303030;
	position: relative;

	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
