
/*sortilka*/

.sortable-dragging {
	overflow: hidden;
	height: 100px;
	background: #f60;
}

.sortable-placeholder {
	height: 100px;
	background: #538d1c;
	overflow: hidden;
}


#wdqwdqwd {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fe9345;

}
