.popup {

	width: 500px;
	height: 500px;
	background: #bcbcbc;

	z-index: 24;


	.header {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #1e489c;

	}
	.footer {

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #f1f1f1;


	}


}


