<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>query._</title>
    <script src="/js/jquery.2.0.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/raphael.js"></script>
    <script src="/js/raphael.free_transform.js"></script>
    <script src="/js/jquery.sortable.js"></script>
    <script src="/js/dropzone.js"></script>


    <script src="/js/app/events.js"></script>
    <script src="/js/app/utils.js"></script>
    <script src="/js/app/models.js"></script>
    <script src="/js/app/views.js"></script>
    <script src="/js/app/collection.js"></script>
    <script src="/js/app/app.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,100italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <!--<link rel="stylesheet" href="css/default.css" type="text/css"/>-->
    <!--<link rel="stylesheet" href="css/dropzone.css" type="text/css"/>-->

</head>
<body>


<div id="main">

    <div id="toolbar">

        <div class="login_buttons">
            <input type="button" value="login" class="button"/>
        </div>
    </div>
    <div id="menu">menu</div>
    <aside id="layers_list">

        <ol id="layers"/>

    </aside>
    <div id="editor">
        <figure id="cnvs"/>
    </div>

</div>
<div id="wdqwdqwd">
           wfqwfqwfq

</div>
<div id="popup" class="popup">
    <div class="header">
        <input type="button" class="button"  value="⊗ close"/>
    </div>
    <section>
        wegofmweg<br>
        wegofmweg<br>
        wegofmweg<br>

        <form action="">
            <input type="text"/>
            <input type="text"/>
            <input type="text"/>
            <input type="button" value="send"/>
            <input type="button"  value="cancel"/>
        </form>
    </section>
    <div class="footer">
        <input type="button" class="button dark"  value="save"/>
    </div>

</div>


<script id="template_layer" type="text/template">
    <%= order %>
    <%= selected %>
    <%= src %>
    <%= flattenObject() %>



    <i class="delete">X</i>
</script>

<script id="image_crop" type="text/template">
    <div id="cropalka"></div>

    <input type="button" class="button save" value="save"/>
    <i class="delete">X</i>
</script>

<div id="fullscreen_overlay" class="overlay"></div>
</body>
</html>


